*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body 
{
    background: #f5f7fa;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    list-style-position: inside;
}

.wrapper
{
    display: grid;
    grid-template-areas:
    "article main"
    "footer footer";
    grid-template-columns: 20% 80%;
    max-width: 100%;
    margin: 0 auto;
    
}
/*masthead */
.masthead{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 11px -4px rgba(0, 0, 0, 0.4);
    background: #f5f7fa;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    z-index: 10;
    padding: 10px 0px;
}

.logo-icon{
    float: left;
    height: 2rem;
    margin: 0 10px;
    cursor: pointer;
}

.title
{
    float: left;
    color: orange;
    text-decoration: none;
    display: flex;
}

.site-search input[type=search] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 600px;
    background: #f1f1f1;
}

.site-search button {
    float: left;
    width: 2rem;
    padding: 5px;
    background: white;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
.site-search-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
    cursor: pointer;
}
.site-search button:hover {
    background: rgb(195, 195, 195);
}
.site-search a {
    float: left;
}
.icon-gray{
    margin: 7px;
    height: 1.3rem;
    vertical-align: text-bottom;
    cursor: pointer;
    fill:rgb(189, 189, 189)
}

.icon-gray:hover{
    fill:rgb(102, 102, 102)
}

ul{
    list-style: none; 
}

.user-menu ul li{
    display: inline-block;
}

.user-menu-profile{
    background-color: orange;
    border-radius: 50%;
}
.user-menu-profile:hover{
    background-color:rgb(189, 189, 189);
}

.user-menu-profile svg{
    padding: 3px;
    margin: 5px;
}

/*sidebar */
.sidebar{
    width: 200px;
    grid-area: article;
}
.users{
    margin-bottom: 20px;
}
.users img{
    width: 20px;
    margin-right: 10px;
    vertical-align: bottom;
}

.users a{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.users li:hover{
   cursor: pointer;
   background-color: rgb(216, 216, 216);
}

.users a{
    color: #000;
    text-decoration: none;
}
.channel-name:hover{
    text-overflow: ellipsis;
}

.channel-name:hover{
    color: blue;
}

  .blob {
    background: black;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
    height: 10px;
    width: 10px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
  }
  .blob.red {
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
  }
  
  @keyframes pulse-red {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }

.contacts{
    grid-area: main;
    background-color: rgb(209, 209, 209);
    padding: 10px;
    text-align: center;
    border-radius:10px;
    font-size: 16px;
    height: 80px;
}

.contacts p::selection {
    color: #fff;
    background: orange;
   }

.links{
    margin-top: 10px;
}

.links svg:hover{
    fill:rgb(51, 98, 253);
    cursor: pointer;
}

/*scroll */
.categories{
    margin-bottom: 60px;
}
.horizontal-scroll {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

.horizontal-scroll a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 7px 10px 5px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
}

.horizontal-scroll a:hover {
    background-color: rgb(209, 209, 209);
}
.horizontal-scroll a:nth-child(1) {
    background-color: orange;
    color: #fff;
    border: none;
}
 .link-icon
 {
    display: inline-block;
     height: 1.1428rem;
     vertical-align: text-bottom;
     margin: 0 10px;
 }

/*footer*/
footer p{
    display: inline-block;
}

footer{
    display: flex;
    justify-items: center;
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    bottom: 0;
    grid-area: footer;
}

 @media screen and (max-width: 1200px) {
    .users span{
        display: none;
    }
    .sidebar{
        width: 50px;
    }

    .contacts{
        display: none;
    }
    .users .blob{
        display: none;
    }
    .site-search input[type=search]{
        width: 400px;
    }
}
@media screen and (max-width: 800px) {
    .site-search input[type=search]{
        width: 200px;
    }
}

@media screen and (max-width: 550px) {
    .site-search input[type=search]{
        width: 100px;
    }
    h1{
        font-size: 20px;
    }
    .logo svg{
        height: 1.5rem;
    }
    .icon-gray {
        height: 1rem;
    }
}